.proyectSeparation {
  margin-bottom: 35px;
}

.customImgModal {
  display: flex !important;

  --bs-modal-header-border-width: none !important;
  --bs-modal-border-color: none !important;
  --bs-modal-footer-border-color: none !important;
  --bs-modal-bg: transparent !important;
  --bs-modal-border: 0px !important;
}

.customImgModal img {
  max-height: 80vh;
}
