body {
  margin: 0;
  font-family: "Montserrat" !important;

  background-color: #f2f2f2 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.customContainer {
  margin-top: 55px !important;
}

.cardSeparation {
  padding-block-start: 35px !important;
}

@media (max-width: 400px) {
  .customContainer {
    margin-top: 15px !important;
  }
  .cardSeparation {
    padding-top: 15px !important;
  }
}
